export NODE_VERSION_PREFIX=v
export NODE_VERSIONS=~/.nvm/versions/node

use node
DB_HOST ="dpg-ci9fhi59aq02ihskfakg-a.oregon-postgres.render.com"
DB_NAME ="studybuddy_vz9u"
DB_PASS = "RQ5xO4YsfA1YfH2lpSYFl4ESUlkq2x3W"
DB_PORT = 5432
DB_USER = "regional"
